version: '3.8'

services:
  consumer-app:
    build: .
    container_name: only4_kafka_consumer
    ports:
      - "8081:8080"
    environment:
      # 1. Kafka 접속 설정 (Only4_BE의 카프카 바라봄)
      SPRING_KAFKA_BOOTSTRAP_SERVERS: host.docker.internal:9092

      # 2. DB 접속 설정 (Only4_BE의 DB 공유)
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}      # 유저 아이디 변수
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}  # 비밀번호 변수

      # 3. 기타 설정
      SPRING_PROFILES_ACTIVE: dev

    # 리눅스 호환성 설정 (그대로 유지)
    extra_hosts:
      - "host.docker.internal:host-gateway"

    # [추가] .env 파일을 읽으라고 명시하는 게 좋습니다.
    env_file:
      - .env