version: '3.8'

services:
  consumer-app:
    ports:
      - "8081:8081"
    # 1. 내 프로젝트를 이미지로 빌드
    build: .
    container_name: only4_kafka_consumer

    # 2. 실행 후 자동으로 꺼지지 않게 설정
    restart: always

    env_file:
      - .env

    # 3. 환경 변수 덮어쓰기
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: host.docker.internal:9092,host.docker.internal:9093,host.docker.internal:9094

      # [DB 주소 변경]
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}

      # [프로파일 설정]
      # 배포 환경임을 알려주기 위해 prod로 설정하는 경우가 많음
      SPRING_PROFILES_ACTIVE: prod

    # 5. 리눅스/Mac 도커에서 호스트(주인님) 컴퓨터를 찾기 위한 설정
    extra_hosts:
      - "host.docker.internal:host-gateway"