spring:
  profiles:
    active: local # 기본 모드 설정

  # [공통] DB 드라이버 & JPA 설정
  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # [공통] Kafka Consumer 설정 (주소 제외)
  kafka:
    consumer:
      group-id: only4-consumer-group
      # earliest: 큐에 쌓인 옛날 메시지부터 읽기 / latest: 지금부터 온 것만 읽기
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer